td {
    border: 1px solid #000;
    height:100px;
    width:100px;
}

td button{
    width: 100%;
    height: 100%;
}

table#gameboard {
    margin: 0 auto 50px;
}
#chatboard textarea {
    width: 100%;
    height: 100px;
}

textarea[readonly] {
    background: #eee;
}